

<h1>Fubar!</h1>
<div id="divTest1">
  <button id="btnGetCust" value="Press it!">Get Customers</button>
  <button id="btnNewCust" value="Press it!">Add a Customer</button>
</div>
<form name="myForm1Name" id="myForm1Id">
  Customer name: <input type="text" id="inpt1Id" name="inpt1Name" size="10" />
</form>

<br />

<div>
  <table id="tblCustiomers" border="1">
    <thead>
      <tr><td width="100px">ID</td><td>Name</td></tr>
    </thead>
    <tbody>
      @foreach (var cust in ViewBag.customerList)
      {
        <tr>
          <td>@cust.id</td>
          <td>@cust.name</td>
        </tr>
      }
    </tbody>
  </table>

</div>

<a href="~/BSSandbox/BSS"> Go to BSSandbox/BSS</a>
<br />

@Html.ActionLink("Go to BSSandbox Page", "BSS", "BSSandbox", new { area = "" }, null)

<br />

<a href="~/Club"> Go to 3D Club</a>

<script type="text/javascript">
  @*$(document).ready(function () {
    //alert("Hi!");
   
    alert('@Request.ApplicationPath');
  });*@

  //$(document).click(function (e) {
  //  alert("target.nodeName: " + e.target.nodeName
  //    + "\ntarget.localName: " + e.target.localName

  //  );
  //});

  $("#btnGetCust").click(
    function () {

      getCustomers();
    }
  )

  $("#btnNewCust").click(
    function () {
      //var jsonData = { name: "Tom" };

      alert("Adding " + $("#inpt1Id").val());

      $.ajax({
        type: 'POST',
        url: '/api/customer',
        //url: '@Url.Action("NewCustomer")',
        data: '{name: "' + $("#inpt1Id").val() + '"}',
        //data: '{name: "yyy"}',
        success: getCustomers
        ,
        contentType: 'application/json'
      });
    }
  )

  function getCustomers() {
    $.ajax({ type: 'GET', url: '/api/customer', success: customerSuccess });
  }

  function customerSuccess(data) {
    //customerSuccess1(data);
    customerSuccess2(data);
  }


  function customerSuccess1(data) {
    $.each(data, function (i, customer) { alert(i + " - " + customer.name)});
  }

  function customerSuccess2(data) {
    //alert(data.length);
    $('#tblCustiomers tbody').empty();

    $.each(data, function (i, customer) { $('#tblCustiomers tbody').append('<tr><td>' + customer.id + '</td><td>' + customer.name + '</td></tr>'); });

    //for (var k in data) {}
    // // alert(data[k].name);

    //$('#tblCustiomers tr:last').after('<tr><td>' + data[k].name + '</td></tr>');

  }

</script>
