@model RestApp1.Models.ClubModel

@{
  ViewBag.Title = "CHS 3D Modeling/Printing Club";
  Layout = "~/Views/Shared/_Layout3DClub.cshtml";
}


      <div class="club-content">
        Announcements
        <div>
          @foreach (RestApp1.Models.announcement anno in Model.Announcements)
          {
            <div class="well" id="anno_@anno.ID_announcement">
              <h6 class="text-right">
                @anno.announceTime
                @if (Model.IsAdmin)
                {
                  <a href="javascript:deleteAnnouncement('@anno.ID_announcement')">
                    <span class="glyphicon glyphicon-remove-sign" style="font-size:medium; color:darkred"></span>
                  </a>
                  <a href="@Request.ApplicationPath/Club/EditAnnouncement?annoID=@anno.ID_announcement">
                    <span class="glyphicon glyphicon-pencil" style="font-size:medium; color:darkblue"></span>
                  </a>
                }
              </h6>
              <h2 style="color:#1b2e3f">@anno.topic</h2>
              <P>@anno.detail</P>
            </div>
            <br />
          }
        </div>
      </div>
   

<script type="text/javascript">
  var anno_ID_delete;

  $(document).ready(function () {

    // $.ajax({ type: 'GET', url: '/api/Announcements', success: gotAnnoucements });
    var JoinSuccess = "@ViewBag.JoinSuccess";

    if (JoinSuccess == "true")
    {
      alert("Thank you for joining the club.");
    }

  });

  function gotAnnoucements(data) {
    alert(data.length);

    $.each(data, function (i, announcement) { alert(i + " - " + announcement.topic) });
  }

  function deleteAnnouncement(annID) {
    if (confirm("Delete this announcement?")) {
      anno_ID_delete = annID;

      $.ajax({
        type: 'DELETE', url: "@Request.ApplicationPath" + '/api/announcements/' + annID, success: AnnoucementDeleted, error: deleteFailed
      });
    }
    else
      anno_ID_delete = null;
  }

  function AnnoucementDeleted(data) {
    var elementId = "anno_" + anno_ID_delete;
    $("#" + elementId).remove();
    //alert("The announcement is deleted successfully");
  }

  function deleteFailed(data) {
    alert("Error occurred. The announcement may not be deleted successfully.");
  }


</script>

